html,
body {
  height: 100vh;
  background: #ccc;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
}

/* header---------------------------- */
#header {
  width: 100vw;
  height: 56px;
  border: 1px solid #333;
  background: #fff;

  position: fixed;
  z-index: 1;
}
#header .menuLeft {
  width: 20%;
  height: 100%;
  /* border: 1px solid #333; */
  display: inline-block;
  float: left;
  position: relative;
}
#header .menuMiddle {
  width: 40%;
  height: 100%;
  border: 1px solid #333;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
#header .menuRight {
  width: 20%;
  height: 100%;
  border: 1px solid #333;
  display: inline-block;
  float: right;
  position: relative;
}
.square {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
}
.hamburger {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  line-height: 40px;
  color: #888;
}
.logo {
  width: 130px;
  height: 40px;
  /* border: 1px solid #333; */
  position: absolute;
  left: 25%;
  top: 50%;
  transform: translateY(-50%);

  background: no-repeat url(../images/YouTube_s.png);
  background-position: left;
  background-size: 70%;
}
.logo p {
  position: absolute;
  right: 15%;
  font-weight: 300;
  font-size: 0.5rem;
}
.search {
  width: 90%;
  height: 40px;
  border: 1.2px solid #bbb;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.search .btnSearch {
  width: 40px;
  height: 40px;
  border: 1px solid #333;
}
/* .search .fa-search {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
} */
.voice {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  text-align: center;
  line-height: 40px;
  color: #555;
}
.application {
  position: absolute;
  right: 55%;
  top: 50%;
  transform: translateY(-50%);
}
.setting {
  position: absolute;
  right: 35%;
  top: 50%;
  transform: translateY(-50%);
}
.signIn {
  width: 20%;
  height: 40px;
  border: 1px solid #333;
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
}

/* sideMenu---------------------------- */

#sideMenu {
  width: 20%;
  height: 100%;
  border: 1px solid #333;
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: auto;
}

#sideMenu .blockall {
  border: 5px solid #d22;
}

#sideMenu .block {
  width: 80%;
  height: 200px;
  border: 1px solid #333;
  margin: 0 10%;

  /* position: absolute;
    left: 10%; */
}
#sideMenu .blockspace {
  height: 60px;
}
