html,
body {
  height: 100vh;
  background: #ccc;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
}

/* header---------------------------- */
#header {
  width: 100vw;
  height: 56px;
  /* border: 1px solid #333; */
  background: #fff;

  position: fixed;
  z-index: 1;
}
#header .menuLeft {
  width: 20%;
  height: 100%;
  /* border: 1px solid #333; */
  display: block;
  float: left;
  position: relative;
}
#header .menuMiddle {
  width: 40%;
  height: 100%;
  /* border: 1px solid #333; */
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#header .menuRight {
  width: 20%;
  height: 100%;
  /* border: 1px solid #333; */
  display: block;
  float: right;
  position: relative;
}
.square {
  width: 40px;
  height: 40px;
  /* border: 1px solid #eee; */
  text-align: center;
  line-height: 40px;
}
.hamburger {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
}
.logo {
  height: 40px;
  /* border: 1px solid #333; */
  position: absolute;
  left: 25%;
  top: 50%;
  transform: translateY(-50%);

  font-size: 1.5rem;
  letter-spacing: -3px;
  font-weight: 500;
  line-height: 40px;
}
.logo .fa-youtube {
  color: #d22;
  letter-spacing: 4px;
}
.logo span {
  position: absolute;
  bottom: 6px;
  left: 110px;
  font-weight: 300;
  font-size: 0.5rem;
  letter-spacing: -1px;
}
.search {
  width: 90%;
  height: 32px;
  border: 1.4px solid #bbb;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.btnSearch {
  width: 80px;
  height: 32px;
  border: 1.2px solid #bbb;
  background: #eee;

  position: absolute;
  right: -1px;
  top: 50%;
  transform: translateY(-50%);

  text-align: center;
  line-height: 32px;
}
.voice {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.1rem;
  color: #555;
}
.application {
  position: absolute;
  right: 60%;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
}
.setting {
  position: absolute;
  right: 45%;
  top: 50%;
  transform: translateY(-50%);
}
.signIn {
  width: 30%;
  height: 40px;
  border: 1px solid #0080ff;
  color: #0080ff;
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  line-height: 40px;
  font-weight: 300;
}
.signIn .fa-user-circle {
  font-size: 1.5rem;
}

/* sideMenu---------------------------- */

#sideMenu {
  width: 20%;
  height: 100%;
  border: 1px solid #333;
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: auto;
}

#sideMenu .blockall {
  border: 5px solid #d22;
}

#sideMenu .block {
  width: 80%;
  height: 200px;
  border: 1px solid #333;
  margin: 0 10%;

  /* position: absolute;
    left: 10%; */
}
#sideMenu .blockspace {
  height: 60px;
}
